@import 'utils';

section {
  @include set-center-body();
  padding-top: 20px;
}

.header {
  width: 100%;
  font-size: 20px;
}

.nav-item {
  background-color: #436d72;
  display: inline-block;
  padding: 15px;
  margin-right: 1px;
}

.logo {
  background-color: transparent !important;
  color: #436d72;
  padding: 15px 30px 15px 0
}

.nav-ul {
  list-style-type: none;
  display: inline-block;
  padding: 0;
  margin: 0;

  li {
    display: inline-block;

    a {
      color: $background;
    }

    a:hover {
      background-color: $a-hover;
    }
  }
}

a.resume {
  float: right;
  padding: 15px;
  color: #436d72;
}

a.resume:hover {
  color: #254246;
}

a, a:hover {
  text-decoration: none;
}
