<section>
  <div class="footer">
    <div class="social-box">
      <a target="_blank" href="https://www.facebook.com/Nicks309"><i class="bi bi-facebook"></i></a>
      <a target="_blank" href="https://www.instagram.com/nicks309"><i class="bi bi-instagram"></i></a>
      <a target="_blank" href="https://www.linkedin.com/in/diparth"><i class="bi bi-linkedin"></i></a>
      <a target="_blank" href="https://github.com/diparth"><i class="bi bi-github"></i></a>
    </div>
    <div class="copyright">Copyright © 2022 diparth.com</div>
  </div>
</section>
