<section class="main-container">
  <div class="about-block">
    <h2 class="abt-title">Hi there {{ hello }}</h2>
    <p class="abt-desc">
      I am a Software Developer with extensive experience in designing and developing high-quality websites and web applications.
    </p>
    <p class="abt-desc">
      I have a strong understanding of user experience, web design principles, accessibility guidelines, and responsive design, which enables me to create visually appealing and intuitive web applications.
    </p>
    <p class="abt-desc">
      I am a detail-oriented and collaborative team player who is passionate about creating innovative and user-friendly web solutions.
    </p>
  </div>

  <div class="skills-block">
    <h3 class="skill-title">Tech Stack {{ skill }}</h3>
  </div>
</section>
