<section class="main-container">
  <div class="about-block">
    <h2 class="abt-title">{{ hello }} Hi there</h2>
    <p class="abt-desc">
      I am a Software Developer with extensive experience in designing and developing high-quality websites and web applications.
    </p>
    <p class="abt-desc">
      I have a strong understanding of user experience, web design principles, accessibility guidelines, and responsive design, which enables me to create visually appealing and intuitive web applications.
    </p>
    <p class="abt-desc">
      I am a detail-oriented and collaborative team player who is passionate about creating innovative and user-friendly web solutions.
    </p>
  </div>

  <div class="skills-block">
    <h3 class="skill-title">{{ skillIcon }} Tech Stack</h3>

    <div class="skills" *ngFor="let skillSet of skillCategories">
      <p class="skillset-title">
        <img class="title-icon" src="assets/icons/{{ skillSet.asset }}" /> {{ skillSet.label }}
      </p>

      <div class="skill-assets">
        <div class="skill-tile" *ngFor="let skill of skillSet.skills">
          <img class="asset-icon" src="assets/icons/tech/{{ skill.asset }}" />
          <p class="asset-label">{{ skill.label }}</p>
        </div>
      </div>
    </div>
  </div>
</section>
