@import url('https://fonts.googleapis.com/css?family=Kaushan+Script|Montserrat:100,200,300,400,500,600,700,800');
@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Montez&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poiret+One&display=swap');

// Breakpoints
$breakpoint-sm: 320;
$breakpoint-md: 640;
$breakpoint-lg: 960;
$breakpoint-xlg: 1280;

//Fonts
$global_font: 'Montserrat', sans-serif;

// Extra Fonts
$caveat-font: 'Caveat Brush', cursive;
$kaushan-font: 'Kaushan Script', cursive;
$montez-font: 'Montez', cursive;
$poiret-font: 'Poiret One', cursive;

// Other
$global_step: 8px;

// Colors
$circle-fill: #6d6875;
$font-dark: #5a5561;
$app-bg: #e3dbef;
