@import "utils";

:host {
  display: block;
}

section.app-container {
  width: 100vw;
  height: 100vh;
  margin: 0;
  display: flex;
}

.info-toast {
  display: inline-block;
  position: absolute;
  padding: 8px 12px;
  bottom: 2rem;
  left: 2rem;
  background-color: #fff;
  border-radius: 4px;
  min-width: 180px;

  p {
    margin: 0;
    color: $circle-fill;
  }
}

.body-container {
  width: 100%;
  height: 100vh;
}

.router-box {
  height: calc(100vh - $footer_height);
  overflow: auto;
}
