@import 'utils';

section {
  //background-color: $font;
  background-color: getHighContrast();
}

.image-block {
  max-width: step(42);
}

.detail-block {
  padding: step(2);
}

.name-label {
  color: white;
  font-weight: 400;
}

p {
  color: $sub-font-color;
  margin-bottom: step(1);
}
