/* You can add global styles to this file, and also import other style files */

@import "styles/index";
@import "~bootstrap-icons/font/bootstrap-icons.css";

dp-root {
  background-color: $background;
  float: left;
  width: 100%;
}
