<section class="info-bar-container">
  <div class="dp">
    <img src="assets/images/IMG_6090.jpg"/>
  </div>

  <div class="details">
    <h1 class="name">Diparth Patel</h1>
    <p>Software Developer</p>
  </div>

  <div class="contact-block">
    <p><img class="info-icons" src="assets/icons/location.svg" /> Toronto, Ontario, Canada</p>
    <p><img class="info-icons" src="assets/icons/phone.svg" /> <a class="info-link" href="tel:2269616511">+1 (226) 961-6511</a></p>
    <p><img class="info-icons" src="assets/icons/email.svg" /> <a class="info-link" href="mailto:pateldiparth309@gmail.com">pateldiparth309@gmail.com</a></p>
  </div>
</section>
